<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/public/url.png" />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container has-text-centered">
      <h1 class="title navbar-item is-justify-content-center">
        URL Shortener Microservice
      </h1>
      <hr />
      <img src="/public/url.png" alt="url_logo" style="width: 200px" />
      <main>
        <section class="section">
          <form action="api/shorturl" method="POST">
            <legend class="subtitle">URL Shortener</legend>
            <div class="field has-addons">
              <p class="control is-expanded">
                <input
                  id="url_input"
                  type="text"
                  name="url"
                  placeholder="https://www.freecodecamp.org/"
                  class="input is-primary"
                />
              </p>
              <p class="control">
                <input
                  type="submit"
                  value="POST URL"
                  class="button is-primary"
                />
              </p>
            </div>
          </form>
        </section>
        <div class="section">
          <h3 class="subtitle">Example Usage:</h3>
          <a href="/api/shorturl/1">[this_project_url]/api/shorturl/1</a>
        </div>
      </main>
      <footer class="footer">
        <p>By <a href="https://github.com/camilojimenezj">Camilo Jimenez</a></p>
      </footer>
    </div>
  </body>
</html>
